body {
  margin-top: 5px;
  width: 460px;
}

h2 {
  text-decoration: underline;
}

.checkbox-list {
	margin-left: 0px;
	list-style: none;
}

.keywords{
    font-size: .1rem;
}

.saveButton{
    border-radius: 0.5rem;
}